doctype html
html(lang="en")
  head
    title GiftMe -- Web App
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", type="text/css" href="/css/main.min.css")

    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(type="text/javascript", src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/main.min.js")

  body
    .container
      .hero
        h1 Gift Me
        h2.tagline Let us help you with gift ideas for your friends and family.
